#posting-title {
  font-size: 32px;
}

#posting-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.posting-box {
  box-sizing: border-box; /**봐봐**/
  border: 1px solid #d2dae0;
  border-radius: 8px;
  padding: 8px 16px;
  background-color: white;
}

.posting-box p {
  color: #4b5966;
}

.posting-box textarea {
  border: none;
  font-size: 15px;
  width: 100%;
  margin-top: 10px;
  outline: none; /**클릭시 검은 outline 삭제**/
}

#posting-box-title {
  margin: 30px 0px;
}

#content-box-input {
  height: 800px;
}

#button-box {
  display: flex;
  justify-content: flex-end;
}

#posting-bottomBar-button {
  width: 84px;
  height: 30px;
  margin-top: 20px;
}
