#posting {
    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;

    width: 680px;
    height: 982px;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

#posting h1 {
    width: 680px;
    height: 38px;

    /* DisplayL */

    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 38px;

    /* Black */

    color: #14212B;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}


#posting input {
    border: none;
}

#posting label {
    width: 648px;
    height: 14px;

    /* BoldS */

    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    /* identical to box height, or 14px */


    /* Gray300 */

    color: #4B5966;


    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

#text-title {
    box-sizing: border-box;

    /* Auto layout */
    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 8px 16px;
    gap: 8px;
    
    width: 680px;
    height: 64px;
    
    /* White */
    
    background: #FFFFFF;
    /* Gray100 */
    
    border: 1px solid #D2DAE0;
    border-radius: 8px;
    
    /* Inside auto layout */
    
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

#posting input {

    width: 648px;
    height: 26px;

    /* BodyR */

    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    /* identical to box height, or 26px */


    /* Gray200 */

    color: #879298;


    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}


#text-description {
    box-sizing: border-box;

    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 8px 16px;
    gap: 8px;

    width: 680px;
    height: 800px;

    /* White */

    background: #FFFFFF;
    /* Gray100 */

    border: 1px solid #D2DAE0;
    border-radius: 8px;

    /* Inside auto layout */

    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;
}

#footer-navigator {
    /* Auto layout */

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;

    width: 680px;
    height: 32px;


    /* Inside auto layout */

    flex: none;
    order: 2;
    flex-grow: 0;
}

