@import "root.css";
@import "login.css";

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navigation {
    display: flex;
    justify-content: space-between;
    width: 1040px;
    height: 64px;
}

.navigation p {
    width: 96px;
    height: 16px;
    left: 0px;
    top: calc(50% - 16px/2);

    /* BoldR */

    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    /* identical to box height, or 16px */


    /* Black */

    color: #14212B;
}

.navigation button {
    width: 122px;
    height: 32px;
    right: 0px;

    border: none;
    color: #FFFFFF;

    /* Primary */

    background: #4362D0;
    border-radius: 8px;
}
