@import "root.css";
@import "login.css";
@import "main.css";

body {
    /* Main-member */


    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 0px 80px;
    gap: 40px;

    /* White */

    background: #FFFFFF;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1040px;
    height: 64px;
}

.navigation > p {
    width: 96px;
    height: 16px;
    left: 0px;
    top: calc(50% - 16px/2);

    /* BoldR */

    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;

    color: #14212B;
}
