.login-section {
    height: 200px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}



.login-form {
    width: 50%;
    max-width: 400px;
    margin: 0 auto;

}


