<div class="header">
  <div class="header_column header_title_container">
    <a class="header_title" href="/cafe/resources/index.html">HELLO JAVA!</a>
  </div>
  <div class="header_column header_signup_container">
    <div class="notLogin">
      <a class="header_signup" href="/cafe/resources/user/login.html">로그인/회원가입</a>
    </div>
    <div class="login hidden">
      <button class="btn btn-link text-decoration-none text-black-50" id="memberListBtn">멤버리스트
      </button>
      <button class="btn btn-primary" id="myPageBtn">마이페이지</button>
      <button class="btn btn-primary" id="logoutBtn" onclick="logout()">로그아웃</button>
    </div>
  </div>
</div>
