#topBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 30px;
}

#topBar-right {
  display: flex;
  flex-direction: row;
}

#topBar-right button {
  margin-left: 10px;
}

#topBar p {
  padding-top: 10px;
}

#topBar-left-text {
  font-weight: 600;
}

#topBar-right-text {
  color: rgba(0, 0, 0, 0.8);
  font-size: small;
}
