* {
    font-family: Arial, Helvetica, sans-serif;
}

.wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.headerMember {
    background-color: #afb9ea;
    color: white;
    padding-left: 100px;
    padding-right: 100px;
    display: grid;
    grid-template-columns: 3fr 1fr 1fr 1fr;
}

.headMember {
    min-width: 130px;
    max-height: 40px;
    margin: 1em;
}

.move {
    border: none;
    background: #afb9ea;
    color: white;
    text-align: left;
}

.button {
    font-family: sans-serif;
    color: white;
    border-color: white;
    border: solid;
    border-radius: 40px;
    background: #afb9ea;
    font-weight: 600;
  }

.button:hover, .move:hover, #buttonwrite:hover {
    border-color:#a289bb;
    color: #a289bb;
    transition: 0.7s;
}

.title-form {
    display: grid;
    grid-template-rows: auto;
    border: 2px solid lightgrey;
    border-radius: 10px;
    width: 800px;
    height: 50px;
    margin-bottom: 15px;
}

#title {
    border: none;
    background-color: none;
}

.content-form {
    display: grid;
    grid-template-rows: 20px auto;
    border: 2px solid lightgrey;
    border-radius: 10px;
    width: 800px;
    height: 400px;
}

#content {
    border: none;
}

label {
    font-size: 13px;
}

input {
    font-size: 15px;
    margin-bottom: 5px;
}

textarea {
    resize: none;
    font-size: 15px;
    height: 370px;
}

input:focus, textarea:focus {
    outline:none;
}

.h3 {
    display: flex;
    align-items: flex-start;
    width: 800px;
}

.write-complete {
    display: flex;
    justify-content: flex-end;
    width: 800px;
    margin-top: 10px;
}

.complete {
    width: 100px;
    height: 30px;
}